.trivias-page {
    padding: 50px;
    background-color: #f7f7f7;
    min-height: 100vh;
  }
  
  .trivias-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .ant-card-meta-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .ant-card-meta-description {
    color: #666;
  }
  